*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  
}

body{
  position:relative;
}

main{
  background-image: url("https://www.si.com/.image/t_share/MTY4MTU1NDIwODcxMDQyMzIx/usain-bolt-puma-jamaica-track-and-fieldjpg.jpg");
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin: auto;
  position:relative;
}

#image{
object-fit: contain;
 width: 100%;
 opacity: 0.9;
}

#img-div{
  justify-content: center;
  margin: auto;
}

#img-caption{
  display: none;
}

img{
display: block;
max-width: 100%;
}

#Introduction{
  display: flex;
  margin:auto;
  height: 100vh;
  width:100%;
  align-items: center;

}

#heading h1{
  position: absolute;
  margin:auto;
  top:10px;
  left: 20px;
  font-size: 10em;
  color: yellow;
  font-family: 'Roboto Condensed', sans-serif;
  }

#heading h4{
 position: absolute;
top:400px;
right:20px;
 font-size: 2rem;
  color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}

#tribute-info{
  height: 100%;
  width: 70%;
  margin: auto;
  font-family: 'Arial', sans-serif;
  padding:50px 40px;
  background: #FFFFFF;
  opacity: 0.99;
}

#intro-text{
  margin: 20px 0;
}

#intro-text p{
  font-size: 1.2em;
}

#timeline li{
  display: flex;
  align-items: center;

}

#timeline li h2{
  background: yellow;
  padding: 10px;
  margin:10px 0px 10px 0px;
}

#timeline li p{
  margin-left: 20px;
}

#externallink{
  margin-top: 20px;
}

footer {
  display: flex;
  width:100%;
  height: 100px;
  color: white;
  background: #1C1D22;
  align-items: center;
  justify-content: center;
}

footer p{
  
  Padding:0 1em;
  text-align:center;
} 

@media (min-width:768px) and (max-width:1072px)  {
  #heading h1{   
  font-size: 6em;
  }
  
  #heading h4{
top:300px;
right:20px;
 font-size: 1.6rem;
}
  
}

@media only screen  and (max-width:768px) {
  
  main{
  background-image: none;
  }
  
 #heading h1{
   left: 10px;
   max-width:70%;
  font-size: 3em;
  }
  
  #heading h4{
 display:none;
}
  
  #tribute-info{  
  margin:auto;
  padding:1em;
  width: 100%;
}
  
  #image{
 width: 100%;
}

#img-div{
  width:100%;
}
  
  #intro-text p{
  font-size: 1em;
}
  
  #timeline li{
 padding:0.5em 0;   
 }


#timeline li h2{
  background: yellow;
  font-size:1.2em;
  padding: 0.3em;
  margin:10px 0px 10px 0px;
}

#timeline li p{
  margin-left: 20px;
}

#externallink{
  font-size:1em;
 }
  
}
